.hero {
  display: flex;
  text-align: center;
  background-color: #ffc017;
  width: 100%;
  padding: 2rem 0;
}

.wrapper {
  display: flex;
  text-align: center;
  width: 90%;
  margin: 2rem auto;
}

.leftColumn {
  flex: 1;
  padding: 1rem;
}

.rightColumn {
  flex: 1;
  display: flex;
  padding: 1rem;
  width: 70%;
}

.leftWrapper {
  padding-top: 15%;
}

.buttonWrapper {
  max-width: 40rem;
  margin: auto;
  text-align: left;
  padding: 0 5%;
}

.button {
  background-color: rgb(25, 25, 25);
  border-radius: 1584px;
  border: 1px solid rgb(25, 25, 25);
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  width: 196px;
}

.hero h1 {
  font-size: 4rem;
  color: black;
  max-width: 40rem;
  margin: auto;
  text-align: left;
  padding: 0 5%;
}

.hero p {
  font-size: 1.5rem;
  color: black;
  max-width: 40rem;
  margin: auto;
  text-align: left;
  padding: 5% 5%;
}
