* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #252525;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

button {
  font: inherit;
  cursor: pointer;
}
